<h1>Create a New Article</h1>

<form action="/articles" method="post">
  Article Title: <br>
  <input type="text" name="title" size="40"> <br><br>
  Full Web Address: <br>
  <input text="text" name="url" size="100"> <br><br>

  Which Topic Folder should this Article be placed in? <br>
  Please -EITHER- <br>
  Choose an already existing Topic Folder: (only choose one) <br>
  <% current_user.topics.each do |topic| %>
    <input type="checkbox" name="topic_id" value="<%= topic.id %>"><%= topic.name %><br>
  <% end %> <br>

  - OR -
  Write the name of a new Topic Folder: <br>
  <input type="text" name="name"> <br>

  <input type="submit" value="Make New Article">

</form>

<br><br><br><br>
<a href="/logout">Logout</a>
