<h1>Create a New Article</h1>

<form action="/articles" method="post">
  Article Title: <br>
  <input type="text" name="title"> <br><br>
  Full Web Address: <br>
  <input type="textarea" name="url"> <br><br>

  Which Topic Folder should this Article be placed in? <br>
  Please write the name of the folder: <br>
  <input type="text" name="Topic Name"> <br>



  <input type="submit" value="Make New Article">

</form>
