<h1>Create a New Article</h1>

<form action="/articles" method="post">
  Article Title: <br>
  <input type="text" name="title"> <br>
  Full Web Address: <br>
  <input type="text" name="url"> <br>
  <input type="submit" value="Make New Article">

</form>
