<h1>Create a New Article</h1>

<form action="/articles" method="post">
  Article Title: <br>
  <input type="text" name="title"> <br><br>
  Full Web Address: <br>
  <input type="textarea" name="url"> <br><br>

  Which Topic Folder should this Article be placed in? <br>
  Please --EITHER-- choose already existing Topic Folder: (only choose one) <br>
  <% current_user.topics.each do |topic| %>
    <input type="checkbox" name="Topic Name"><%= topic.name %><br>
  <% end %> <br>

  -- OR -- Create a New Topic Folder: <br>
  <input type="text" name="topic[name]" id="new_topic"> <br>

  <input type="submit" value="Make New Article">

</form>
