<h3><a href="<%= @article.url %>" target="_blank"><%= @article.title %></a></h3>

<h2>Click the link Above, <br>or <br>Copy & Paste the web address below into your browser's address bar.</h2>

<h3><%= @article.url %></h3>

<br><br><br><br>
