<h1>Welcome, <%= @user.username %></h1>



<h2>Below are Lists of All the Users' Topic Folders</h2>
<% @users.each do |user| %>
  <h3><%= user.username %></h3>
  <ul><% user.topics.each do |topic| %>
    <li><%= topic.name %> </li>
  <% end %> </ul>
<% end %>
