<h1>Please log-in to your Read It Later account...</h1>

<form action="/login" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password (hidden)">
  <input type="submit" value="submit">

</form>
