<h1>Welcome to Read It Later!</h1>
<h2>Heard about that hot new article, filled with all those words and phrases?</h2>
<h3>But don't have the time right now?</h3>
<h3>No worries, save it now, and Read It Later!</h3>

<p>Please <a href="/signup">Sign Up</a> for a new account or <a href="/login">Log-in</a> to get your read on!</p>
